@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container .hexagon{
	position: relative;
	width: 350px;
	height: 400px;
	margin: 50px 20px 70px;
}
.container .hexagon::before{
	content: "";
	position: absolute;
	bottom: -70px;
	width: 100%;
	height: 60px;
	background: radial-gradient(rgba(0,0,0,0.15), transparent,
		transparent);
	border-radius: 50%;
	transition: 0.5s;
}
.container .hexagon:hover::before{
	opacity: 0.8;
	transform: scale(0.8);
}
.container .hexagon .shape{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: polygon(0 16%, 51% 0, 99% 19%, 100% 78%, 47% 100%, 0 75%);
	transition: 0.5s;
}
.container .hexagon:hover .shape{
	transform: translateY(-30px);
}
.container .hexagon .shape img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .hexagon .shape .content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	background: linear-gradient(45deg,#03a9f4,rgba(3,169,244,0.5));
	color: #fff;
	opacity: 0;
	transition: 0.5s;
}
.container .hexagon:hover .shape .content{
	opacity: 1;
}
.personal{
	position: absolute;
	bottom: 30px;
}